<div class="about">
    <div class="about-main container">
        <div class="about-text">
            <h1>about me</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti eius dolore rerum, maxime excepturi minus libero ratione eaque, consectetur nisi itaque commodi ullam id dicta hic possimus repellendus quia in sequi nemo, corporis iure necessitatibus. Tempore eos ipsum nostrum non.</p>
        </div>
        <div class="about-side">
        </div>
    </div>
    <div>
        <h1>Hello</h1>

    </div>
</div>