<section class="contact">
        <p>Contact me at anytime</p>
        <h1>Get in Touch</h1>
        <div class="contact-bottom" >
            <div class="dash"></div>
            <div><span><i class="fa fa-heart" aria-hidden="true"></i></span></div>
            <div class="dash"></div>
    </div>
    <div class="contact-main">
        <form class="form" action="">
            <p>Message me</p>
            <div style="display: flex; justify-content: space-between;">
                <input style="width: 50%;"  type="text" placeholder="name">
                <input style="width: 49%;" type="email" placeholder="email">
            </div>
            <input type="text" placeholder="subject">
            <textarea placeholder="message"></textarea>

            <button type="submit">send</button>
        </form>
        <div class="contact-text">
            <h3>Contact info</h3>
            <p>Always available for  your naming ceremonies, weddings, birthdays and every events that needs music</p>
            <ul>
                <li>Location: <br>
                <span>Lagos Nigeria</span>
                </li>
                <li>Call me: <br>
                    <span>08106683185</span>
                </li>
                <li>Eamil me: <br>
                <span>makindeakinola22@gmail.com</span>
                </li>
            </ul>
        </div>
    </div>
</section>