<section class="gallery">
    <div class="grid">
        <img src="images/FB_IMG_1596112399296.jpg" alt="">
        <img src="images/IMG-20200727-WA0005.jpg" alt="">
        <img src="images/IMG-20200727-WA0006.jpg" alt="">
        <img src="images/IMG-20200727-WA0007.jpg" alt="">
        <img src="images/IMG-20200727-WA0011.jpg" alt="">
        <img src="images/IMG-20200727-WA0012.jpg" alt="">
        <img src="images/IMG-20200727-WA0013.jpg" alt="">
    </div>
</section>