<section class="gallery">
    <div class="grid">
        <div class="thumb">
            <img src="images/gal1.jpg" alt="">
        </div>
        <div class="thumb">
            <img src="images/gal2.jpg" alt="">
        </div>
        <div class="thumb">
            <img src="images/gal3.jpg" alt="">
        </div>
        <div class="thumb">
            <img src="images/gal4.jpg" alt="">
        </div>
        <div class="thumb">
            <img src="images/gal5.jpg" alt="">
        </div>
    </div>
    <footer style="color: white; text-align: center; padding-top: 10px; padding-bottom: 10px;">&copy; djphemco300 <span id="currentDate"></span></footer>
</section>