<section class="section1">
    <div class="section1inner">
        <p>“Music gives a soul to the universe, wings to the mind, flight to the imagination, and life to
            everything.”</p>
        <div class="socials">
            <a href="http://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="http://www.twitter.com"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="http://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i> </a>
        </div>
    </div>
</section>
<section class="section2" data-aos="fade-left">
    <div class="middle">
        <p>About me</p>
    </div>
    <div class="section2About">
        <div class="about_img">
            <img src="/images/splash.jpg" alt="splash">
        </div>
        <div class="about_text">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat nulla cupiditate possimus cumque rem
                at qui corporis eligendi? Quo sit
                debitis dolor.</p>
        </div>
    </div>
</section>

<section class="section3" data-aos="fade-right">
    <div class="middle">
        <p>Mixtapes</p>
    </div>
    <div class="mixtape_download">
        <div class="mixImage">
            <img src="/images/pitch.jpg" alt="pitch" width="130" height="130">
        </div>
        <div class="link">
            <div>
                <p>PITCH MIXTAPE</p>
                <a href="audio/Dj PHEMCHO - Party On The Roof Top Mixtape.mp3" download="PITCH-MIXTAPE"> Download <i
                        class="fa fa-download" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>