
    <section class="header">
        <div>
            <h1>dj Phemcho</h1>
        </div>
    </section>
    <section>
        <div class="socials">
            <ul>
                <li><a href="http://"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="http://"></a><i class="fa fa-twitter" aria-hidden="true"></i></li>
                <li><a href="http://"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="http://"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                
            </ul>
            <!-- <a href="https://wa.me/message/+2347081355326">
                <img class="img" src="images/whatsApp.png" alt="">
            </a> -->
        </div>
        <footer style="color: white; text-align: center; padding-top: 10px; padding-bottom: 10px;">&copy; djphemco300 <span id="currentDate"></span></footer>
    </section>