<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
        href="../src/images/ecommerce-logo-png-download-512512-free-transparent-shopclues-shopclues-png-900_520.jpg"
        type="image/png">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="CSS/index.css">
    <title>Document</title>
</head>

<body>
    <nav class="nav">
        <div class="logo">
            <a href="/"><img src="images/logo.jpg" width="75" height="50" alt="logo"></a>
        </div>
            <ul class="">
                <li class="">
                    <a class="" href="/">home</a>
                </li>
                <li class="">
                    <a class="" href="/music">music</a>
                </li>
                <li class="">
                    <a class="" href="/about">about</a>
                </li>
                <li class="">
                    <a class="" href="/contact">contact</a>
                </li>
                <li class="">
                    <a class="" href="/gallery">gallery</a>
                </li>
                <li class="">
                    <a class="" href="/mixtape">mixtapes</a>
                </li>
            </ul>

            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
    </nav>

    <%- body -%>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <script src="js/index.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 120,
            delay: 0,
            duration: 1000,
        });
    </script>
</body>

</html>