<section class="mixtape">
  <div class="grid">
    <div>
      <a href="audio/Dj PHEMCHO - PITCH Mixtape.mp3" download>  <img src="images/pitch.jpg" alt=""></a>
    </div>
    <div>
      <img src="images/gal5.jpg" alt="">
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</section>