<section class="mixtape">
    <div>
      <a href="http://">  <img src="images/pitch.jpg" alt=""></a>
    </div>
    <div>
      <img src="images/gal5.jpg" alt="">
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</section>