*{
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
}
.nav {
  display: flex;
  width: 90%;
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}

ul li {
  list-style: none;
  text-transform: capitalize;
  transition: all ease 0.3s;
}

ul li:hover{
  letter-spacing: 2px;
}
ul li a {
  text-decoration: none;
  font-weight: 700;
  color:white;
}
.header {
  background-image: url('../images/FB_IMG_1596112399296.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-weight: 1000;
  font-size: 70px;
  color: white;
}

.about {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dash {
  border-top: 1px dashed aquamarine;
 width: 35%;
 height: 100%;
}
.about p {
  padding-top: 70px;
  color: aquamarine;
  font-size: 28px;
  font-weight: 600;
}
.about h1 {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 40px;
}
.about-img {
  height: 90%;
  width: 90%;
}
.about-img-main {
  width: 50%;
}
.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about .about-bottom {
  width: 10%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.about .about-text h3 {
  color: white;
  font-weight: 700;
  padding-top: 20px;
}
.about .about-text h5 {
  color: aquamarine;
  font-size: 28px;
  font-weight: 600;
}
.about .about-text {
  text-align: left;
  width: 50%;
}
.about .about-text h4 {
  padding-top: 20px;
  color: white;
  opacity: 0.5;
  font-size: 18px;
  font-weight: normal;
  word-spacing: 0.3rem;
}
.about-main {
  width: 90%;
  margin-top: 30px;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
}
.whatsApp {
  height: 100px;
  width: 100px;
  position: fixed;
  top: 80%;
  left: 90%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}
.img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  background: none;
}

/* gallery */
.gallery {
  width: 100%;
}
.grid {
  width: 80%;
  margin:8% auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.1rem;
}
.grid img {
  width: 350px;
  height: auto;
}